.btn:focus {
    box-shadow: none;
}

form {
    .error input, textarea.error {
        border: 1px solid #F5B7B1;
    }
}

.form-container {
    height: 100%;
}

.img-preload {
    width: 100px;
}

.prev-post-thumnail {
    height: 120px;
}

.img-post-thumnail {
    height: 280px;
}

.post-title {
    text-transform: uppercase;
    color: #007bff;
}

.category-label {
    margin: 0;
    color: #749796;
    font-weight: 700;
    text-transform: lowercase;
}

.category-label.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: #6E7A7A;
}

.post-item {
    padding: 20px;
}

.post-text{
    word-wrap: break-word;
  }

